<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <title>Jenny Market</title>
    <link rel="stylesheet" href="./main.css">
    
</head>
<body>
    <div id="app">
        <v-app>
            <!-- 앱바 영역 -->
            <v-app-bar app color="purple accent-4" flat fixed> <!--primary : 파랑, dark : 반전, fixed : 위치고정-->
                <v-app-bar-nav-icon></v-app-bar-nav-icon>
                <v-toolbar-title>전체 카테고리</v-toolbar-title>
                <ul class="menu" >
                    <li>
                        <v-btn @click="">신상품</v-btn>
                    </li>
                    <li>
                        <v-btn @click="">베스트</v-btn>
                    </li>
                    <li>
                        <v-btn @click="">마감세일</v-btn>
                    </li>
                    <li>
                        <v-btn @click="">레시피</v-btn>
                    </li>
                    <li>
                        <input type="text" value="검색어를 입력해주세요">
                        <v-btn icon @click="$refs.search.focus()">
                            <v-icon>mdi-magnify</v-icon>
                        </v-btn>
                    </li>
                </ul>
                <v-spacer></v-spacer>
                <ul class="myicon">
                    <v-btn icon> 
                        <v-icon>mdi-cards-heart-outline</v-icon> 
                    </v-btn>
                    <v-btn icon> 
                        <v-icon>mdi-cart</v-icon> 
                    </v-btn>
                    <v-btn icon> 
                        <v-icon>mdi-account-circle-outline</v-icon> 
                    </v-btn>
                </ul>
            </v-app-bar>

            <!-- 본문 내용 -->
            <v-main class="main">
                <!-- 메인 이미지 3가지 -->
                <v-container>

                    <v-carousel
                    cycle
                    height="500"
                    hide-delimiter-background
                    show-arrows-on-hover
                    >
                        <v-carousel-item
                            v-for="(item,i) in items"
                            :key="i"
                            :src="item.src"
                            reverse-transition="fade-transition"
                            transition="fade-transition"
                        >
                        </v-carousel-item>
                    </v-carousel>
                </v-container>

                <!-- 신상품 타이틀 -->
                <v-container>
                    <v-col cols="12">
                        <div class="text-left">
                            <h1>신상품</h1>
                            <p>이번주 새로나온 신상품입니다</p>                    
                        </div>
                    </v-col>

                    <!-- 신상품 슬라이드 -->
                    <v-sheet
                        class="mx-auto"
                    >
                        <v-slide-group
                        v-model="model"
                        class="pa-3"
                        show-arrows
                        >
                            <v-slide-item
                                v-for="n in newitems"
                                :key="n"
                                v-slot="{ active, toggle }"
                            >
                                <v-card
                                class="ma-4"
                                height="450"
                                width="350"
                                @click="toggle"
                                >   
                                <v-img :src="n.src" aspect-ratio="1.2" >
                                    <v-row
                                        class="d-flex justify-space-around fill-height"
                                        align="center"
                                        justify="center"
                                    >
                                    <!-- 클릭시 체크 -->
                                        <v-scale-transition>
                                            <v-icon
                                                v-if="active"
                                                color="white"
                                                size="80"
                                                v-text="'mdi-cart-plus'"
                                            >
                                            </v-icon>
                                        </v-scale-transition>
                                    </v-row>
                                </v-img>
                                <v-card-title><h5>{{n.name}}</h5></v-card-title>
                                <v-card-text><h3>{{n.price}}원
                                    <v-btn class="pink accent-2">구매</v-btn>
                                    
                                </h3></v-card-text>
                                    
                                    
                                </v-card>
                            </v-slide-item>
                        </v-slide-group>
                    </v-sheet>


                </v-container>

            </v-main>
        

            <v-footer>
                <div> Footer입니다 </div>
            </v-footer>
            
        </v-app>
        
        
    </div>

    <script>
        new Vue({
            el : '#app',
            vuetify : new Vuetify(),
            data : {
                items: [
                    { src: './image/main_image1.png', },
                    { src: './image/main_image2.png', },
                    { src: './image/main_image3.png', }
                ],
                model: null,
                newitems: [
                    { src: './image/신상품1.jpg', name : '잇딸리아 콰트로포르마지 수제화덕피자(330g)', price : 10900 },
                    { src: './image/신상품2.jpg', name : '네기 우삼겹 생우동(740g)', price : 9900},
                    { src: './image/신상품3.jpg', name : '[신규입점] 우리통밀스콘 80g*3입(플레인/크랜베리/쵸코칩)', price : 8900 },
                    { src: './image/신상품4.jpg', name : '[입점특가] 문어닮은소떡(500g)', price : 11900},
                    { src: './image/신상품5.jpg', name : '[맛보장] 땡초 닭갈비 (1인분, 200g)', price : 8900},
                    { src: './image/신상품6.jpg', name : '[입점특가] 라쿠치나 간편 파스타 3종(알리오올리오 | 바질페스토 | 올리브토마토)', price : 6000},
                    { src: './image/신상품7.jpg', name : 'MSC인증 붉은대게살 크래미(142g)', price : 3500},
                    { src: './image/신상품8.jpg', name : '[MD추천]GAP 설향 딸기(특/500g)', price : 11000},
                    { src: './image/신상품9.jpg', name : '(특품)저탄소인증 성주미니참외(1.5KG내외/10~12입)', price : 19500 },
                    { src: './image/신상품10.jpg', name : '[출시특가] 오아시스 푸른바다 고등어 (360g)', price : 8000 }
                ],
            }
        })
    </script>
    

</body>
</html>